*
{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}



body
{
    
    background: #ffffff;
  /*  background: #082b4b;*/


}


/*  texto animado */
 
.contenedor-header
{  
    width: 100%;
    margin: 0;
    height: 70px;
    background: linear-gradient( 25deg, #006eff, #00ccff);
    position: fixed;
  
}


/*  reloj en tiempo real */
.cont-reloj
{
   color: rgb(255, 255, 255);
   padding: 10px 0px;
   width: 210px ;
   float: right;
   letter-spacing: 2px;
   

}
.texto{
    width: 380px;
height: 40px;
color: rgb(255, 255, 255);
font-size: 25px;
line-height: 40px;
display: flex;
float: left;
position: absolute;
overflow: hidden;
letter-spacing: 2px;
margin: 10px 90px;
}




.reloj
{
    font-size: 25px;
}

.datos
{
    text-align: right;
    width: 200px;
    display: flex;
}

.contenedor-header  .santisimo
 {
        float:left;
        height: 50px;
        width:  70px;
        margin: 7px 25px 0px 5px ;
        padding: 0;
 }


.contenedor-header  img
{
    float: right;
    height: 30px;
    width:  30px;
    cursor: pointer;
    margin: 15px 20px 0px  0px;
    padding: 0;
 }


                    /*    Menu despegable */

                    /*    Menu despegable */
 .menu
{
width: 100%;
 padding-top: 4rem;
 position: fixed;
}
nav ul{
 background: linear-gradient( 25deg, #00ffaa, #00ccff);
/*background: #05817d;*/
list-style: none;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: left;
align-items: center;
                                          
}
nav ul > li a{
position: relative;
}
nav a{
color: rgb(0, 0, 0);
display: block;
font-size: 17px;
font-family: 'GothamBook';
padding: 15px 30px;
text-transform: uppercase;
letter-spacing: 2px;
transition: background .5s;
border-right: 1px solid #00ffaa;
 letter-spacing: 2px;
 margin: 0 25px;
text-decoration: none;                                    
}
nav .principal > a{
background: url(../images/arrow_bottom.png) no-repeat;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto auto;
background-position: 94% center;
background-size: 10px;
}
nav ul li:hover ul{
display: block;
}
nav li ul{
/*background: #177470;*/
 background: #00ffaa;
display: none;
flex-direction: column;
position: absolute;
align-items: flex-start;
border-radius: 0 0 10px 10px;
}
nav li ul a{
position: relative;
 padding: 10px 30px;
 border-right: initial;
}
nav li ul a:hover{
 /*background: #2c9595;*/
 background: #12d896b4;
color: #000000;
}
nav li ul li:last-child{
border-radius: 0 0 10px 10px;
overflow: hidden;
}
                    

#container
{
    padding-top: 11rem  ;
}

.form_register
 {
     width: 450px;
     margin: auto;

 }

 .form_register h1 
 {
     color: #000000;
     font-family: 'Roboto', sans-serif;
     font-size: 25px;
 }
 hr
 {
     border: 0;
     background: #ccc;
     height: 1px;
     margin: 10px 0;
     display: block;
 }

  form
  {
      background: #ffffff;
      margin: auto;
      padding: 20px 50px;
      border: 1px solid #d1d1d1;
      border-radius: 8px;
  }

label
{
    display: block;
    font-size: 17px;
    margin: 15px auto 5px auto;
    border: none;
}

input, select
{
    display: block;
    width: 100%;
    font-size:  11pt;
    padding: 5px;
    
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn_save
{
    font-size: 18px;
    background: #00ffaa;
    color: black;
    padding: 10px;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
    margin: 15px auto;
}

.alert
{
   width: 100%;
   background: #66e07d66; 
   border-radius: 6px;
   margin: 20px auto;
}

.msg_error
{
    color: #e65656;
}
msg_save
{
    color: #126e08;
}

.alert p
{
    padding: 10px
}